.sidebar-container{
    position: fixed;
    left: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 60px;
    float: left;
    background: #3f4055;
    color: #DDD;
}
.sidebar-logo{
    background: rgb(16, 19, 34);
    height: auto;
    width:60px;
    padding: 5px;
}
.sidebar-logo img{
    width: 50px;
    margin: auto;
}
.menu-btn-group{
    margin: auto;
    width: 60px;
}
.menu-btn-group img{
    width: 60px;
    padding: 15px;
}
.social-btn-group{
    justify-content: end;
    width: 60px;
    padding-bottom: 10px;;
}
.social-btn-group img{
    width: 60px;
    padding: 8px 20px;
}